# python basics

- Variables
- DataTypes

print() -> It is used to display output.

In [1]:
print("welcome to python course")

welcome to python course

In [4]:
x = "welcome to python course"
print(x)

welcome to python course

# Variables

- Alternative names for memory location , we call it as variables.

<h3>Rules</h3>

In [3]:
#1. Variable name should start with either letter or _.

name = "dilip" #collection of characters enclosed double quotes or single quotes-> string
print(name)

Name = "farooq"
print(Name)

_name = "kiran"
print(_name)

dilip
farooq
kiran

In [4]:
#2. Variable name should not start with number.

2name = "girish"
print(2name)

SyntaxError: invalid decimal literal (989913655.py, line 3)

In [10]:
#3. Variable name contains only letters, digits and _.

full_name = "sai kumar"
print(full_name)

sai kumar

In [12]:
#4. Variable names case-sensitive

age = 34 #int
print(age)

34

In [14]:
#5. Variable name should not be a keyword

def1 = 11
print(def1)

11

# DataTypes

1. Numeric DT(integer,float,complex)
2. String DT
3. Boolean DT(True,False)
4. Sequence DT -> list,tuple,set,dictionary
5. None DT

<h3>1. Numeric DT</h3>

In [35]:
#int -> whole number(Ex:23,12,56575675,2312,909)
x = 1
print(x)

1

<h3>type()</h3>
    - used to give what kind of data we stored in the varaible.

In [36]:
print(type(x))

<class 'int'>

In [24]:
#float -> decimal point

a = 3745.64735
print(a)
print(type(a))

3745.64735
<class 'float'>

In [32]:
#complex -> a+bj,a-bj

z = 1-0j
print(z)
print(type(z))

(1+0j)
<class 'complex'>

<h3>2.String DT</h3>

- collection of characters enclosed double quotes or single quotes-> string
- characters means letters,digits,symbols.

In [38]:
course = "welcome 2 python programming" #string
print(course)
print(type(course))

welcome 2 python programming
<class 'str'>

<h3>Typecasting</h3

- converting from one DT to another DT.
    1. int()
    2. float()
    3. str()
    4. bool()
    5. list()
    6. tuple()
    7. set()

In [42]:
x = 34 #int
print(x)

#convert "int" DT  into "float" DT ->float()
y = float(x)
print(y)
print(type(y))

34
34.0
<class 'float'>

In [44]:
print(a)

#convert "float" DT  into "int" DT ->int()
b = int(a)
print(b)
print(type(b))

100.78
100
<class 'int'>

In [5]:
a = "345" #string
print(a)
print(type(a))

#convert string DT into int DT-> int()
b = int(a)
print(b)
print(type(b))

#convert string DT into int DT-> float()
c = float(a)
print(c)
print(type(c))

345
<class 'str'>
345
<class 'int'>
345.0
<class 'float'>

In [7]:
x = 34
print(x)
print(type(x))

#convert int DT into string DT-> str()
y = str(x)
print(y)
print(type(y))

34
<class 'int'>
34
<class 'str'>

In [10]:
name = "laxmi"
age = 34

print("My name:",name)
print("My age:",age)

My name: laxmi
My age: 34

In [13]:
#print "My name is laxmi and my age is 34"

print("My name is",name,"and my age is",age)

My name is laxmi and my age is 34

# f-string

In [16]:
print(f"My name is {name} and my age is {age}")

My name is laxmi and my age is 34

<h3>3.Boolean DT</h3>

- True(1),False(0)

In [19]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [26]:
a = 0
print(bool(a))

False

In [22]:
x = 90
print(type(x))

#convert into int DT to Boolean DT -> bool()
y = bool(x)
print(y)
print(type(y))

<class 'int'>
True
<class 'bool'>

In [23]:
name = "sai"  #string
print(type(name))

#convert into str DT to Boolean DT -> bool()
name1 = bool(name)  #True
print(name1)
print(type(name1))

<class 'str'>
True
<class 'bool'>

<h3>4. None DataType</h3>

In [28]:
b = None
print(b)
print(type(b))

#convert None DT to boolean DT-> bool()
c = bool(b)
print(c)

None
<class 'NoneType'>
False

<h3>5. Sequence DataType</h3>

- Sequence DT is used to store multiple values of different DT.

In [32]:
#list DT-> [val1,val2,val3,val4,------]
#ordered DT
#supports duplicates


l = ["sai",34,"sai",5+8j,"laxmi",34,5+8j,["hari","kiran"]]
print(l)
print(type(l))

['sai', 34, 'sai', (5+8j), 'laxmi', 34, (5+8j), ['hari', 'kiran']]
<class 'list'>

In [35]:
#convert list DT into tuple DT -> tuple()

a = tuple(l)
print(a)
print(type(a))

('sai', 34, 'sai', (5+8j), 'laxmi', 34, (5+8j), ['hari', 'kiran'])
<class 'tuple'>

In [33]:
#tuple DT-> (val1,val2,val3,val4,------) or val1,val2,val3,val4,------
#ordered DT
#supports duplicates

t = (90,"dilip","laxmi",90,"dilip",True,98.67)
print(t)
print(type(t))

(90, 'dilip', 'laxmi', 90, 'dilip', True, 98.67)
<class 'tuple'>

In [36]:
#convert tuple DT into list DT-> list()

b = list(t)
print(b)
print(type(b))

[90, 'dilip', 'laxmi', 90, 'dilip', True, 98.67]
<class 'list'>

In [34]:
t1 = 90,"dilip","laxmi",90,"dilip",True,98.67
print(t1)
print(type(t1))

(90, 'dilip', 'laxmi', 90, 'dilip', True, 98.67)
<class 'tuple'>

In [37]:
#set DT -> {val1,val2,val3,----}
#unordered DT
#won't support duplicates

x = {"sai","laxmi",78,"sai",34.67,True,78,"kiran",56}
print(x)
print(type(x))

{True, 34.67, 'kiran', 56, 'laxmi', 'sai', 78}
<class 'set'>

In [38]:
#convert tuple DT into set DT-> set()

t = (45,78,"dilip",89,45,"dilip")
print(t)

t1 = set(t)
print(t1)

(45, 78, 'dilip', 89, 45, 'dilip')
{89, 'dilip', 45, 78}

In [40]:
#dictionary DT->{key1:valu1,key2:value2,-------}
#multiple items(key:value pair)
#mapping function
#ordered DT

d = {"name":"sai","age":34,"course":"python"}
print(d)
print(type(d))

{'name': 'sai', 'age': 34, 'course': 'python'}
<class 'dict'>